@using SeleniumResults
@using SeleniumResults.Models
@model SeleniumResults.webreporting.ViewModels.ApiRunsViewModel

@{
    Layout = "_Layout.cshtml";
    ViewBag.Title = "Api Runs";
    ViewBag.SelectedPage = Constants.API_RUNS_PAGE;
}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Api test runs</h1>

<div class="table-responsive bg-white">
    <table class="table table-bordered" id="apiRunsDatatable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Time</th>
                <th>File</th>
                <th>Application</th>
                <th>Duration</th>
                <th>Result</th>
                <th>BuildNumber</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Time</th>
                <th>File</th>
                <th>Application</th>
                <th>Duration</th>
                <th>Result</th>
                <th>BuildNumber</th>
            </tr>
        </tfoot>
        <tbody>
        @foreach (var sr in Model.TestRuns)
        {
            <tr>
                <td>@($"{sr.TestRunMetaData.LastRun:yyyy-MM-dd HH:mm:ss}")</td>
                <td>
                    <a href="spcdata/@sr.TestRunMetaData.OriginalFileName" target="_blank">@sr.TestRunMetaData.OriginalFileName</a>
                </td>
                <td>@sr.TestRunMetaData.FlytApplicationType</td>
                <td data-order="@sr.TestRunMetaData.Duration">
                    <span>@sr.TestRunMetaData.Duration min (@sr.GetDurationMinutesString)</span> 
                </td>
                <td>
                    @if (sr.IsPassed)
                    {
                        <span class="badge badge-success">Passed</span> <span style="color:red;">@sr.FailedCount</span><span>/@sr.TotalCount</span>
                    }
                    else if (sr.HasTooManyErrors)
                    {
                        <span class="badge badge-dark">Too many errors</span> <span style="color:red;">@sr.FailedCount</span><span>/@sr.TotalCount</span>
                    }
                    else if (sr.HasMidnightErrors)
                    {
                        <span class="badge badge-dark">Midnight errors</span> <span style="color:red;">@sr.FailedCount</span><span>/@sr.TotalCount</span>
                    }
                    else
                    {
                        <span class="badge badge-danger">Failed</span> <span style="color:red;">@sr.FailedCount</span><span>/@sr.TotalCount</span>
                    }
                    @if (sr.FailedCount < 5)
                    {
                        foreach (var testResult in sr.Results.Where(x => x.IsFailed).OrderBy(x=>x.Name).ToList())
                        {
                            <a href="testPages/@(testResult.Name).html" target="_blank" style="font-size: small">@testResult.Name</a>
                        }
                            
                    }
                </td>
                <td>@sr.TestRunMetaData.BuildNumber</td>
            </tr>
        }
        </tbody>
    </table>
</div>

@section scripts {
    <script>
    $(document).ready(function () {
        $('#apiRunsDatatable').DataTable({
            "order": [[0, "desc"]],
            "pageLength": 25
        });
    });
    </script>
}